logicsdeploy.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "For_each_passwordCredential": {
                        "actions": {
                            "Condition": {
                                "actions": {
                                    "Send_an_email_(V2)": {
                                        "inputs": {
                                            "body": {
                                                "Body": "<p>One of the client secrets is going to expire from the Azure AD app registration<br>\n<br>\nDisplyName: @{items('For_each')?['displayName']}<br>\n<br>\n<br>\nDetails <br>\nSecret ID:@{items('For_each_passwordCredential')?['secretText']}<br>\nDisplay Name:@{items('For_each_passwordCredential')?['displayName']}<br>\nExpiry Date@{items('For_each_passwordCredential')?['endDateTime']}<br>\n<br>\nApp Registraion location: https://portal.azure.com/#view/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/~/Overview/appId/ Appid/@{items('For_each')?['appId']}<br>\n<br>\n<br>\nPlease take action as soon as ppssible<br>\n</p>",
                                                "Importance": "Normal",
                                                "Subject": "CHecker",
                                                "To": "Dipesh@cqons.onMicrosoft.com"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/Mail"
                                        },
                                        "runAfter": {},
                                        "type": "ApiConnection"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Send_an_email_(V2)_2": {
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>One of the client secrets is going to expire from the Azure AD app registration<br>\n<br>\nThis is about the applications @{items('For_each')?['displayName']}<br>\n<br>\nDetails are as below.<br>\n<br>\nSecret ID: &nbsp;@{items('For_each_passwordCredential')?['secretText']}<br>\nDisplay Name: @{items('For_each_passwordCredential')?['displayName']}<br>\nExpiry Date: @{items('For_each_passwordCredential')?['endDateTime']}<br>\n<br>\nApp Registraion location: https://portal.azure.com/#view/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/~/Overview/appId/@{items('For_each')?['appId']}<br>\n<br>\n<br>\nPlease take action as soon as ppssible</p>",
                                                    "Importance": "High",
                                                    "Subject": "App is about to expire",
                                                    "To": "Dipesh7512@gmail.com"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "less": [
                                                "@items('For_each_passwordCredential')?['endDateTime']",
                                                "@addToTime(utcNow(),14,'day')"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {},
                                "type": "If"
                            }
                        },
                        "foreach": "@items('For_each')?['passwordCredentials']",
                        "runAfter": {
                            "Set_variable_3": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "Set_variable": {
                        "inputs": {
                            "name": "appID",
                            "value": "@items('For_each')?['appId']"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    },
                    "Set_variable_2": {
                        "inputs": {
                            "name": "displayName",
                            "value": "@items('For_each')?['displayName']"
                        },
                        "runAfter": {
                            "Set_variable": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    },
                    "Set_variable_3": {
                        "inputs": {
                            "name": "passwordCredential",
                            "value": "@items('For_each')?['passwordCredentials']"
                        },
                        "runAfter": {
                            "Set_variable_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    }
                },
                "foreach": "@body('Parse_JSON')?['value']",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP": {
                "inputs": {
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "clientId": "",
                        "secret": "",
                        "tenant": "",
                        "type": "ActiveDirectoryOAuth"
                    },
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/applications?$top=2&$select=id,appId,displayName,passwordCredentials"
                },
                "runAfter": {
                    "Initialize_variable_3": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "appID",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_2": {
                "inputs": {
                    "variables": [
                        {
                            "name": "displayName",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_3": {
                "inputs": {
                    "variables": [
                        {
                            "name": "passwordCredential",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "@@odata.nextLink": {
                                "type": "string"
                            },
                            "value": {
                                "items": {
                                    "properties": {
                                        "appId": {
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "passwordCredentials": {
                                            "items": {
                                                "properties": {
                                                    "customKeyIdentifier": {},
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "endDateTime": {
                                                        "type": "string"
                                                    },
                                                    "hint": {
                                                        "type": "string"
                                                    },
                                                    "keyId": {
                                                        "type": "string"
                                                    },
                                                    "secretText": {},
                                                    "startDateTime": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "customKeyIdentifier",
                                                    "displayName",
                                                    "endDateTime",
                                                    "hint",
                                                    "keyId",
                                                    "secretText",
                                                    "startDateTime"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "appId",
                                        "displayName",
                                        "passwordCredentials"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Week",
                    "interval": 1
                },
                "recurrence": {
                    "frequency": "Month",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "office365": {
                    "connectionId": "/subscriptions/xxxx/resourceGroups/Rg-logicApp/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/xxxx/providers/Microsoft.Web/locations/centralus/managedApis/office365"
                }
            }
        }
    }
}
